# write csv file in pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv')
df

                               Email                   Name
0       siddharamlavani@telgroup.com           telgroup.com
1               mickey@bhimrajka.com          bhimrajka.com
2                 sjain@epi-india.in           epi-india.in
3                 sid@webspiders.com         webspiders.com
4    siddharth@dharma-production.com  dharma-production.com
..                               ...                    ...
196                 acs@atcair.co.in           atcair.co.in
197               a.anil@posidex.com            posidex.com
198                 hod@cs.cet.ac.in           cs.cet.ac.in
199               anil4029@gmail.com                test.in
200              anil@itassistant.in         itassistant.in

[201 rows x 2 columns]

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['Email', 'Name'], dtype='object')

In [5]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', nrows=1)
df

                          Email          Name
0  siddharamlavani@telgroup.com  telgroup.com

In [6]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', nrows=5)
df

                             Email                   Name
0     siddharamlavani@telgroup.com           telgroup.com
1             mickey@bhimrajka.com          bhimrajka.com
2               sjain@epi-india.in           epi-india.in
3               sid@webspiders.com         webspiders.com
4  siddharth@dharma-production.com  dharma-production.com

In [7]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', usecols=[0])
df

                               Email
0       siddharamlavani@telgroup.com
1               mickey@bhimrajka.com
2                 sjain@epi-india.in
3                 sid@webspiders.com
4    siddharth@dharma-production.com
..                               ...
196                 acs@atcair.co.in
197               a.anil@posidex.com
198                 hod@cs.cet.ac.in
199               anil4029@gmail.com
200              anil@itassistant.in

[201 rows x 1 columns]

In [8]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', usecols=[0,1])
df

                               Email                   Name
0       siddharamlavani@telgroup.com           telgroup.com
1               mickey@bhimrajka.com          bhimrajka.com
2                 sjain@epi-india.in           epi-india.in
3                 sid@webspiders.com         webspiders.com
4    siddharth@dharma-production.com  dharma-production.com
..                               ...                    ...
196                 acs@atcair.co.in           atcair.co.in
197               a.anil@posidex.com            posidex.com
198                 hod@cs.cet.ac.in           cs.cet.ac.in
199               anil4029@gmail.com                test.in
200              anil@itassistant.in         itassistant.in

[201 rows x 2 columns]

In [9]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv')
df

                               Email                   Name
0       siddharamlavani@telgroup.com           telgroup.com
1               mickey@bhimrajka.com          bhimrajka.com
2                 sjain@epi-india.in           epi-india.in
3                 sid@webspiders.com         webspiders.com
4    siddharth@dharma-production.com  dharma-production.com
..                               ...                    ...
196                 acs@atcair.co.in           atcair.co.in
197               a.anil@posidex.com            posidex.com
198                 hod@cs.cet.ac.in           cs.cet.ac.in
199               anil4029@gmail.com                test.in
200              anil@itassistant.in         itassistant.in

[201 rows x 2 columns]

In [10]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', skiprows=1)
df

        siddharamlavani@telgroup.com           telgroup.com
0               mickey@bhimrajka.com          bhimrajka.com
1                 sjain@epi-india.in           epi-india.in
2                 sid@webspiders.com         webspiders.com
3    siddharth@dharma-production.com  dharma-production.com
4        enquiry@accuratemagnets.com    accuratemagnets.com
..                               ...                    ...
195                 acs@atcair.co.in           atcair.co.in
196               a.anil@posidex.com            posidex.com
197                 hod@cs.cet.ac.in           cs.cet.ac.in
198               anil4029@gmail.com                test.in
199              anil@itassistant.in         itassistant.in

[200 rows x 2 columns]

In [11]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', skiprows=3)
df

                  sjain@epi-india.in           epi-india.in
0                 sid@webspiders.com         webspiders.com
1    siddharth@dharma-production.com  dharma-production.com
2        enquiry@accuratemagnets.com    accuratemagnets.com
3     siddharth@rajasthanpatrika.com   rajasthanpatrika.com
4           siddharth@elitestock.com         elitestock.com
..                               ...                    ...
193                 acs@atcair.co.in           atcair.co.in
194               a.anil@posidex.com            posidex.com
195                 hod@cs.cet.ac.in           cs.cet.ac.in
196               anil4029@gmail.com                test.in
197              anil@itassistant.in         itassistant.in

[198 rows x 2 columns]

In [12]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv')
df

                               Email                   Name
0       siddharamlavani@telgroup.com           telgroup.com
1               mickey@bhimrajka.com          bhimrajka.com
2                 sjain@epi-india.in           epi-india.in
3                 sid@webspiders.com         webspiders.com
4    siddharth@dharma-production.com  dharma-production.com
..                               ...                    ...
196                 acs@atcair.co.in           atcair.co.in
197               a.anil@posidex.com            posidex.com
198                 hod@cs.cet.ac.in           cs.cet.ac.in
199               anil4029@gmail.com                test.in
200              anil@itassistant.in         itassistant.in

[201 rows x 2 columns]

In [13]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', skiprows=[199,200,201])
df

                               Email                   Name
0       siddharamlavani@telgroup.com           telgroup.com
1               mickey@bhimrajka.com          bhimrajka.com
2                 sjain@epi-india.in           epi-india.in
3                 sid@webspiders.com         webspiders.com
4    siddharth@dharma-production.com  dharma-production.com
..                               ...                    ...
193       sales@positivemetering.com   positivemetering.com
194                  info@vision.com             vision.com
195                abbas@idlsite.com            idlsite.com
196                 acs@atcair.co.in           atcair.co.in
197               a.anil@posidex.com            posidex.com

[198 rows x 2 columns]

In [14]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv')
df

                               Email                   Name
0       siddharamlavani@telgroup.com           telgroup.com
1               mickey@bhimrajka.com          bhimrajka.com
2                 sjain@epi-india.in           epi-india.in
3                 sid@webspiders.com         webspiders.com
4    siddharth@dharma-production.com  dharma-production.com
..                               ...                    ...
196                 acs@atcair.co.in           atcair.co.in
197               a.anil@posidex.com            posidex.com
198                 hod@cs.cet.ac.in           cs.cet.ac.in
199               anil4029@gmail.com                test.in
200              anil@itassistant.in         itassistant.in

[201 rows x 2 columns]

In [16]:
df = pd.read_csv('C:\\Users\\deepr_000\\Downloads\\Email list - A64.csv', index_col = 'Name')
df

                                                 Email
Name
telgroup.com              siddharamlavani@telgroup.com
bhimrajka.com                     mickey@bhimrajka.com
epi-india.in                        sjain@epi-india.in
webspiders.com                      sid@webspiders.com
dharma-production.com  siddharth@dharma-production.com
...                                                ...
atcair.co.in                          acs@atcair.co.in
posidex.com                         a.anil@posidex.com
cs.cet.ac.in                          hod@cs.cet.ac.in
test.in                             anil4029@gmail.com
itassistant.in                     anil@itassistant.in

[201 rows x 1 columns]