In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\BCA- STUDY\Python\Datasets\Student_result1.csv')
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [3]:
gr1 = df.groupby(by='Section')
gr1

In [4]:
gr1.groups

{'A': Int64Index([0, 2], dtype='int64'),
 'B': Int64Index([1], dtype='int64'),
 'C': Int64Index([3, 4], dtype='int64')}

In [5]:
df.groupby(by=['Section', 'Class']).groups

{('A', 10): Int64Index([0, 2], dtype='int64'),
 ('B', 10): Int64Index([1], dtype='int64'),
 ('C', 11): Int64Index([3], dtype='int64'),
 ('C', 12): Int64Index([4], dtype='int64')}

In [6]:
for Section, df_1 in gr1:
    print(Section)
    print(df_1)

A
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60
B
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
C
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [7]:
list(gr1)

[('A',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  0        1001       A     10          2                       3          50
  2        1003       A     10          3                       2          60),
 ('B',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  1        1002       B     10          6                       2          80),
 ('C',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  3        1004       C     11          0                       1          45
  4        1005       C     12          5                       2          75)]

In [8]:
dict(list(gr1))

{'A':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 0        1001       A     10          2                       3          50
 2        1003       A     10          3                       2          60,
 'B':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 1        1002       B     10          6                       2          80,
 'C':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 3        1004       C     11          0                       1          45
 4        1005       C     12          5                       2          75}

In [9]:
gr3 = df.groupby('Class').get_group(10)
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [10]:
gr3 = df.groupby('Section').get_group('A')
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60

In [11]:
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [12]:
gr3 = df.groupby('Social Media usage hrs').get_group(2)
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
4        1005       C     12          5                       2          75

In [13]:
df.loc[df['Study hrs']>3]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
4        1005       C     12          5                       2          75

In [14]:
df.loc[df['Study hrs']>3, ['Percentage']]

   Percentage
1          80
4          75